{% extends 'index.html' %}



{% block content %}

        
        <strong>{{ Post.title }}</strong>

        <p>{{ Post.body }}</p>

        <p>{{ Post.owner }}</p>
        <small>{{ Post.created }}</small>

        <hr>
        {% if Post.thumbnail and Post.thumbnail.url %}
                <img src="{{ Post.thumbnail.url }}" alt="{{ Post.title }}" width="250"/>
        {% endif %}
        <hr>
        {% if request.user.is_authenticated and request.user == Post.owner %}
                <div type="row">
                        <a href="update/" class="btn btn-sm btn-primary">Редактировать Пост</a>
                        <a href="delete/" class="btn btn-sm btn-danger btn-follow">Удалить Пост</a>
                </div>
                
        {% endif %}

{% endblock %}