{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="row">
    <h2>Follows of {{ profile }}</h2>
    {% for follower in followers %}
    <div class="card border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <figure>
                        <img src="{{ follower.avatar.url }}" class="img-fluid rounded-0" alt="{{ follower }}">
                    </figure>
                </div>
                <div class="col-md-9">
                     <h5 class="card-title">
                        {{ follower }}
                    </h5>
                    <div class="card-text">
                        <ul>
                            <li>Никнейм: {{ follower.user.username }}</li>
                            {% if follower.user.get_full_name %} <li>Имя и фамилия: {{ follower.user.get_full_name }}</li> {% endif %}
                            <li>Заходил: {{ follower.user.last_login }}</li>
                            <li>Дата рождения: {{ follower.birth_date }}</li>
                            <li>О себе: {{ follower.bio }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    {% endfor %}
</div>
{% endblock %}