{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="card border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <figure>
                        <img src="{{ profile.avatar.url }}" class="img-fluid rounded-0" alt="{{ profile }}">
                    </figure>
                </div>
                <div class="col-md-9">
                     <h5 class="card-title">
                        {{ profile }}
                    </h5>
                    <div class="card-text">
                        <ul>
                            <li>Никнейм: {{ profile.user.username }}</li>
                            {% if profile.user.get_full_name %} <li>Имя и фамилия: {{ profile.user.get_full_name }}</li> {% endif %}
                            <li>Заходил: {{ profile.user.last_login }}</li>
                            <li>Дата рождения: {{ profile.birth_date }}</li>
                            <li>О себе: {{ profile.bio }}</li>
                        </ul>
                    {% if request.user.is_authenticated and request.user != profile.user %} {% if request.user.profile in profile.followers.all %}
                    <form method="post" action="{% url 'authorz:profile_messege' profile.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger btn-follow">
                            Отписаться от {{ profile.user.username }}
                        </button>
                    </form>
					{% else %}
					<form method="post" action="{% url 'authorz:profile_messege' profile.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-primary">
                            Подписаться на {{ profile.user.username }}
                        </button>
                    </form>
					{% endif %} {% elif request.user == profile.user %}
					<a href="{% url 'authorz:profile_edit' %}" class="btn btn-sm btn-primary" name="proedit">Редактировать профиль</a>
					{% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form method="post" action="{% url 'authorz:profile_following' profile.slug %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary me-2">
                                Подписки {{ profile.following.all|length }}
                            </button>
                        </form>
                        <div class="card-text">
                            <div class="row">
                                {% for following in profile.following.all %}
                                <div class="col-md-2">
                                    <a href="{{ following.get_absolute_url }}">
                                        <img src="{{ following.get_avatar }}" class="img-fluid rounded-1" alt="{{ following }}" />
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form method="post" action="{% url 'authorz:profile_followers' profile.slug %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary me-2">
                                Подписки {{ profile.followers.all|length }}
                            </button>
                        </form>
                        <div class="card-text">
                            <div class="row followers-box">
                                {% for follower in profile.followers.all %}
                                <div class="col-md-2" id="user-slug-{{ follower.slug }}">
                                    <a href="{{ follower.get_absolute_url }}">
                                        <img src="{{ follower.get_avatar }}" class="img-fluid rounded-1" alt="{{ follower }}" />    
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}